
<!DOCTYPE html>
<html>
<head>
	<title>Upload</title>
	<style type="text/css">
		.p1{
			color: green;
			font-weight: bold;
			border-radius: 50px;
			border-color: black;

		}
	</style>
</head>
<body>
			<li><a href="/logout">Logout</a></li>
            <li><a href="/booking">List</a></li>
            <li><a href="/search">Search</a></li>
		<form method="post" enctype="multipart/form-data">
			 {% csrf_token %}
			 <input type="file" name="document">
			 <button type="submit" class="p1">Upload</button>

		</form>
</body>
</html>