
<!DOCTYPE html>
<html>
<head>
	<title>Upload</title>
	<style type="text/css">
		.p1{
			color: green;
			font-weight: bold;
			border-radius: 50px;
			border-color: black;

		}
	</style>
</head>
<body>
			<li><a href="/logout">Logout</a></li>
            <li><a href="/booking">List</a></li>
            <li><a href="/search">Search</a></li>
		<form method="post" action="{% url 'uploadimage' %}" enctype="multipart/form-data">
			 {% csrf_token %}
			 	<input class="btn" type="file" name="image"><br>
				 <input type="text" name="name" placeholder="name"><br>
				 <input type="text" name="description" placeholder="description"><br>
			 <button type="submit" class="p1">Upload</button>

		</form>
</body>
</html>